// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Container
 */
.page-width {
  margin-right: auto;
  margin-left: auto;
  width: 100%;


  &--relative {
    position: relative;
  }

  @include media-breakpoint-up(sm) {
    max-width: 740px;
  }

  @include media-breakpoint-up(md) {
    max-width: 1020px;
  }

  @include media-breakpoint-up(lg) {

    &:not(&--compact) {
      max-width: $page-width;
    }

    &--extended {
      max-width: 1600px;
    }
  }
}