.quantity {
  display: flex;
  height: 100%;
  min-height: 4rem;

  &__button {
    align-items: center;
    background: $light-grey;
    border: 0;
    cursor: pointer;
    display: flex;
    flex: 1 1 3rem;
    justify-content: center;
    max-width: 3rem;
    .icon {
      width: 1.2rem;
    }
  }

  &__input {
    background: $white-color;
    border: 0;
    flex: auto;
    max-width: 5rem;
    text-align: center;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
